.editorconfig
.eslintrc.json
.git
.gitignore
.prettierrc.json
jsconfig.json
node_modules
package-json.lock
test/**
webpack.config.js
workspaceExample

.DS_Store
*.vsix

#Externals
#!node_modules/express
#!node_modules/livereload